.nav-link {
  color: white; /* Set the initial text color to white */
}
.nav-link:hover {
  color: red;
  background-color: transparent;
  animation: nav-link 0.5s; /* Corrected animation name */
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes nav-link { /* Ensure this matches the animation name used above */
  from { transform: translate3d(0, 0, 0); }
  to { transform: translate3d(0, 10px, 0); }
}
.active-link {
  color:yellow; /* Color for the active link */
}